BR2_aarch64=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
#BR2_PACKAGE_AMAUDIO=y
#BR2_PACKAGE_AML_LIBS=y
#BR2_PACKAGE_ALSA_LIB=y
#BR2_PACKAGE_LIBSAMPLERATE=y
BR2_PACKAGE_ZLIB=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_EXT2=y
# BR2_TARGET_ROOTFS_TAR is not set

#BR2_PACKAGE_MALI_EXAMPLES=y
#BR2_PACKAGE_GPU=y
#BR2_PACKAGE_GPU_LOCAL=y
#BR2_PACKAGE_GPU_STANDALONE=y
#BR2_PACKAGE_GPU_MODEL="dvalin"
#BR2_PACKAGE_GPU_VERSION="r9p0"
#BR2_PACKAGE_GPU_LOCAL_PATH="$(TOPDIR)/../hardware/aml-3.14/arm/gpu"
#Mali egl
#BR2_PACKAGE_MESON_MALI=y
#BR2_PACKAGE_PROVIDES_LIBEGL="meson-mali"
#BR2_PACKAGE_PROVIDES_LIBGLES="meson-mali"
#BR2_PACKAGE_MESON_MALI_MODEL="dvalin"
#BR2_PACKAGE_MESON_MALI_VERSION="r9p0"
#BR2_PACKAGE_FBDUMP=y
BR2_PACKAGE_AML_BRCM_BSA=n

#DRM
#BR2_PACKAGE_LIBDRM=y
